
header {
  grid-area: h;
  display: grid;
  border-bottom: 1px solid #eaeaea;
  align-items: center;
  padding: 0 40px;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 1;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .search-input {
      width: 80%;
      display: flex;
      align-items: center;

      img {
        margin-right: -30px;
        height: 15px;
        z-index: 2;
      }

      .search {
        width: inherit!important;
        background: #f0f0f0;
        border: none;
        border-radius: 70px;
        padding: 6px 20px 6px 40px;
        font-size: 15px;
        outline: none;
      }
    }

    .account {
      width: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .notify {
        height: 20px;
      }

      .avatar {
        height: 40px;
        width: 40px;
        border-radius: 50%;
      }
    }
  }
}

@media (max-width: 690px) {
  header {
    padding: 0 20px!important;
  }

  nav {
    display: flex!important;
    justify-content: space-between!important;
    width: 100%!important;
  }

  .search-input {
    margin-left: 30px;
    flex: 1;
  }

  .account {
    width: max-content!important;
  }
}

.link {
  width: 100%;
}