aside {
  grid-area: s;
  border-right: 1px solid #eaeaea;
  position: fixed;
  height: 100vh;
  width: 250px;

    .brand {
      font-size: 34px;
      font-weight: 200;
      padding: 10px 40px;
    }

  .links {
    margin-top: 20px;
    cursor: pointer;
    list-style: none;

    li {
      padding: 10px 40px;
      font-size: 14px;
      display: flex;
      align-items: center;

      img {
        height: 15px;
        margin-right: 20px;;
      }

      &:hover {
        background: lighten(#ccc, 13%);
      }

      & .active {
        color: red;
      }

      & a {
        color: #fff;
        text-decoration: none;
        font-weight: 100;
        font-size: 14px;
      }
    }
  }
}

.slider {
  position: fixed;
  width: 100%;
  overflow: scroll;
  top: 0;
  height: 100vh;
  transition: all 1s;
  background-color: #fff;
  z-index: 10;
  padding-top: 10px;
  padding-bottom: 60px;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: #000;
  line-height: 60px;

  &.hidden {
    top: 100vh;
    height: 0;
    opacity: 0;
    z-index: -1;
  }

  .close {
    position: fixed;
    right: 50px;
    top: 20px;
    padding: 5px 20px;
    color: lighten(#000, 45%);
    border: solid 1px lighten(#000, 45%);
    cursor: pointer;
    font-size: 12px;
    border-radius: 3%;
    background: linear-gradient(to right, lighten(#000, 15%) 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    outline: none;

    &:hover {
     background-position: left bottom;
     color: #fff;
    }
  }
}