.card {
  padding: 10px 20px;
  border: 1px solid #eaeaea;
  margin-bottom: 10px;
  width: 100%;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr 1fr;

  .song {
    display: flex;
    align-items: center;

    .min-avatar {
      margin-right: 20px;
      height: 30px;
      width: 30px;
    }
  }

  span {
    color: #aaa;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
  }

  .icons {
    display: flex;
    width: 50px;
    justify-content: space-between;

    img {
      height: 15px;
    }
  }
}